# Web framework
Flask==3.0.3

# Banco de dados (MongoDB)
pymongo==4.10.1
flask-pymongo==2.3.0

# Testes
pytest==8.3.2
pytest-cov==5.0.0

# Utilitários (para APIs externas, etc.)
requests==2.32.3

dotenv
